.submit-collection {
  overflow: scroll;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(var(--vh-navbar));
  top: var(--navbar-height);
}

.submit-collection .body {
  width: 100%;
  max-width: 500px;
  height: calc(var(--vh-navbar) - 2 * var(--padding-large));
  padding: var(--padding-large);
}

.submit-collection .submit-form {
  margin-top: var(--padding-large);
}

.submit-collection .card p {
  margin: 0;
}
.submit-collection .card h2 {
  margin: 0;
}
