.navbar-full-page .card {
  margin: auto;
}

.submit-collection .submit-form {
  margin-top: var(--padding-large);
}

.submit-collection .card p {
  margin: 0;
}
.submit-collection .card h2 {
  margin: 0;
}
