.submit-collection {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.submit-collection .card {
  padding: 0;
}

.submit-collection .submit-form {
  margin-top: var(--padding-large);
}

.submit-collection .card p {
  margin: 0;
}
.submit-collection .card h2 {
  margin: 0;
}

.submit-collection .body {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-large);
}

.submit-collection .bird {
  position: absolute;
  transform: rotate(90deg);
}
