:root {
  --blue: #1e90ff;
  --white: #ffffff;
  --navbar-height: 80px;
  --filters-width: 300px;
  --vh-navbar: calc(100vh - var(--navbar-height));
  --vw-navbar: calc(100vw - var(--navbar-width));
  --card-width: 400px;
  --padding-large: 24px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

p.caption {
  color: #8c8c8c;
}

h2 {
  margin: 4px;
  font-size: 20px;
}

p {
  padding: 0;
  margin: 4px;
}

h1 {
  margin: 0;
}
