.project-card {
  background-color: var(--card-fill);
  border-radius: var(--border-radius);
  padding: var(--padding-large);
  border: var(--card-border);
  max-width: var(--card-max-width);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-card .not-bottom {
  justify-content: normal;
  margin-bottom: var(--padding-medium);
}

.project-card .header {
  display: flex;
  flex-direction: row;
  align-items: center;
  word-wrap: break-word;
}

.project-card .social svg {
  padding: 0px var(--padding-small);
  cursor: pointer;
}

.project-card .stats-row {
  display: flex;
  flex-direction: column;
}

.project-card img {
  border-radius: 100px;
  margin-top: var(--padding-small);
  margin-bottom: var(--padding-medium);
  margin-right: var(--padding-medium);
  width: 80px;
  height: 80px;
}

.project-card .date-topper {
  text-align: center;
}
