.project-card {
  background-color: var(--card-fill);
  border-radius: var(--border-radius);
  padding: var(--padding-large);
  border: var(--card-border);
}

.project-card .header {
  display: flex;
  flex-direction: row;
  align-items: center;
  word-wrap: break-word;
}

.project-card .social svg {
  padding: 0px var(--padding-small);
  cursor: pointer;
}

.project-card .stats-row {
  display: flex;
  flex-direction: column;
}

.project-card img {
  border-radius: 100px;
  padding: var(--padding-medium);
  width: 100px;
  height: 100px;
}

.project-card .date-topper {
  text-align: center;
}
