.card .project-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-card .not-bottom {
  justify-content: normal;
  margin-bottom: var(--padding-medium);
}

.project-card .social svg {
  padding: 0px var(--padding-small);
  cursor: pointer;
}

.project-card .stats-row {
  display: flex;
  flex-direction: column;
}
.project-card .stats-row .ant-btn {
  margin-top: var(--padding-medium);
}

.project-card img {
  border-radius: var(--border-radius);
  margin: var(--padding-medium);
  margin-left: 0;

  width: 100%;
}

.project-card .date-topper {
  text-align: center;
}
