.graph-container {
  position: fixed;
  bottom: 0;
  width: var(--vw-filters);
  left: var(--filters-width);
  z-index: 3;
  background-color: var(--card-fill);
  border: var(--card-border);
  height: var(--graph-height);
}
