.filters {
  width: var(--filters-width);
  position: fixed;
  height: var(--vh-navbar);
  bottom: 0px;
}

.filters .wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: var(--padding-large);
}
