.filters {
  width: var(--filters-width);
  position: fixed;
  height: calc(var(--vh-navbar) - var(--padding-large) + var(--padding-small));
  border-radius: 0 var(--border-radius) 0 0;
  bottom: 0px;
  z-index: 2;
  border: var(--card-border);
  background-color: var(--card-fill);
  /* Allows footer pin */
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  overflow: hidden;
  transition: width 0.7s;
}

.filters .wrapper {
  display: flex;
  flex-direction: column;
  padding: var(--padding-medium);
}

.filters .ant-divider-horizontal {
  margin: var(--padding-small) 0;
}

.filters h3 {
  color: var(--primary);
}

.filters .wrapper .icon-text {
  margin-top: var(--padding-small);
}

.filters .footer {
  align-self: flex-end;
  justify-content: normal;
  margin: var(--padding-large);
  text-align: center;
  display: flex;
  align-items: center;
}
.filters .footer svg {
  margin-left: var(--padding-small);
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header {
  padding: 0;
}
.ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow {
  margin-right: var(--padding-small);
}

/* small height desktop */
@media only screen and (max-height: 680px) {
  .filters {
    overflow: scroll;
  }
}

/* Mobile */
@media only screen and (max-width: 800px) {
  .filters {
    --filters-width: 0px;
    border: none;
  }
  .filters .wrapper {
    display: none;
  }
  .filters .footer {
    display: none;
  }
}
