.projects-holder {
  display: grid;
  grid-gap: 12px;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-column-start: 2;
  grid-row-start: 2;
  padding: 24px;
}

.container {
  padding: 24px;
}

.filters {
  width: 300px;
  position: fixed;
  background-color: red;
  height: 100vh;
  z-index: 2;
}

.grid {
  display: grid;
  grid-template-columns: 300px auto;
  grid-template-rows: 80px auto;
}

@media only screen and (max-width: 600px) {
  .grid {
    grid-template-columns: 0px auto;
  }
  .filters {
    width: 0px;
  }
  .projects-holder {
    grid-column-start: 0;
  }
}
