.projects-holder {
  display: grid;
  grid-gap: 12px;
  grid-template-columns: repeat(auto-fit, minmax(var(--card-width), 1fr));
  grid-column-start: 2;
  grid-row-start: 4;
  width: calc(100% - 2 * var(--padding-large));
  padding: var(--padding-large);
}

.pagination-card-top {
  grid-template-columns: 1;
  grid-column-start: 2;
  grid-row-start: 2;
  margin-left: var(--padding-large);
  margin-top: var(--padding-large);
  width: calc(100% - 2 * var(--padding-large));
}

.pagination-card-bottom {
  grid-template-columns: 1;
  grid-column-start: 2;
  grid-row-start: 100;
  padding: var(--padding-large);
  padding-top: 0;
}

.container {
  padding: var(--padding-large);
}

.grid {
  display: grid;
  grid-template-columns: var(--filters-width) auto;
  grid-template-rows: var(--navbar-height) auto;
}

.hide-mobile {
  display: inline;
}

@media only screen and (max-width: 750px) {
  .grid {
    grid-template-columns: 0px auto;
  }

  .projects-holder {
    grid-column-start: 0;
  }
  .hide-mobile {
    display: none;
    border: none;
  }
}
