.icon-text {
  display: flex;
  align-items: center;
}

.icon-text p {
  margin-left: var(--padding-small);
}

.left-right-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.left-right-row .left {
  margin-right: auto;
}

.left-right-row .right {
  margin-left: auto;
}
