.loader:empty {
  position: absolute;
  top: calc(50% - 4em);
  left: calc(50% - 4em);
  width: 1em;
  height: 1em;
  border: 0.5em solid rgba(0, 72, 255, 0.25);
  border-left: 0.5em solid #0048ff;
  border-radius: 20%;
  animation: load8 1.1s infinite ease-in-out;
}

@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
