.navbar {
  width: 100vw;
  height: var(--navbar-height);
  border-bottom: var(--card-border);
  position: fixed;
  background-color: var(--card-fill);
  box-shadow: 10px 0px 50px var(--card-fill);
  z-index: 100;
}
.navbar .row {
  display: flex;
  padding: var(--padding-medium) var(--padding-large);
  align-items: center;
}

.navbar .row .body {
  width: calc(var(--vw-filters) - var(--padding-large));
  right: 0;
  position: fixed;
}

.navbar .row .right {
  right: 0;
  top: var(--padding-medium);
  padding: var(--padding-medium) var(--padding-large);
  position: fixed;
}

@media only screen and (max-width: 600) {
  .navbar .row {
    width: 100%;
  }
}
