.navbar {
  width: 100vw;
  height: var(--navbar-height);
  border-bottom: var(--card-border);
  position: fixed;
  background-color: var(--card-fill);
  box-shadow: 10px 0px 50px var(--card-fill);
  z-index: 100;
  display: flex;
  align-items: center;
}

.navbar a {
  color: var(--gray-0);
}

.navbar a :hover {
  color: var(--primary);
}

.navbar h1 {
  font-size: 20px;
}
.navbar h1:hover {
  color: var(--primary-text);
}

.navbar .by-bs {
  margin-left: var(--padding-medium);
}

.navbar .bs-logo {
  height: 20px;
  margin: 0 var(--padding-medium);
}

.navbar .row {
  display: flex;
  padding: var(--padding-medium) var(--padding-large);
}

.navbar .logo-row {
  display: flex;
  align-items: center;
}

.navbar .row .body {
  width: calc(var(--vw-filters) - var(--padding-large));
  right: 0;
  position: fixed;
}

.navbar .row .right {
  right: 0;
  display: flex;
  top: var(--padding-medium);
  padding: var(--padding-medium) var(--padding-large);
  position: fixed;
}

.navbar .row .right > * {
  margin-left: var(--padding-medium);
}

@media only screen and (max-width: 600) {
  .navbar .row {
    width: 100%;
  }
}
