.navbar {
  width: 100vw;
  height: 80px;
  position: fixed;
  background-color: white;
  box-shadow: 10px 0px 50px white;
  text-align: right;
}

.navbar .wrapper {
  width: calc(100% - 300px);
  float: right;
  height: 100%;
  display: flex;
  align-items: center;
}

.navbar .wrapper .body {
  padding: 24px;
}

@media only screen and (max-width: 600px) {
  .navbar .wrapper {
    width: 100%;
  }
}
